---
- name: Setup PKI host
  hosts: all
  become: true
  vars:
    cfssl_version: 1.6.5
    _install_arch:
      x86_64: amd64
      aarch64: arm64
  tasks:
    - name: Upgrade the OS
      ansible.builtin.apt:
        upgrade: dist
        update_cache: true

    - name: Install system packages
      ansible.builtin.package:
        name:
          - gnupg2
          - gnupg-agent
          - dirmngr
          - scdaemon
          - pcscd
          - yubikey-personalization
          - yubikey-manager
          - cryptsetup
          - vim
          - openssl
        state: latest

    - name: Install cfssl
      ansible.builtin.get_url:
        url: https://github.com/cloudflare/cfssl/releases/download/v{{ cfssl_version }}/{{ item }}_{{ cfssl_version }}_{{ ansible_facts.system | lower }}_{{ _install_arch.get(ansible_facts.architecture, ansible_facts.architecture) }}
        dest: /usr/bin/{{item}}
        mode: 0755
        owner: root
        group: root
        checksum: "sha256:https://github.com/cloudflare/cfssl/releases/download/v{{ cfssl_version }}/cfssl_{{ cfssl_version }}_checksums.txt"
      loop:
        - cfssl
        - cfssljson

    - name: Harden ssh configuration
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: "^{{ item | split | first }}"
        line: "{{ item }}"
        state: present
        validate: 'sshd -T -f %s'
        mode: 0644
      register: _result
      loop:
        - PermitRootLogin no
        - PasswordAuthentication no
        - PermitEmptyPasswords no
        - AuthenticationMethods publickey
        - DebianBanner no
        - KerberosAuthentication no
        - GSSAPIAuthentication no
        - AllowAgentForwarding no
        - AllowTcpForwarding no
        - PermitTunnel no
        - X11Forwarding no

    - name: Restart sshd
      ansible.builtin.service:
        name: sshd
        state: restarted
      when: _result.changed

    - name: Disable wireless radios
      ansible.builtin.blockinfile:
        path: "/boot/firmware/config.txt"
        insertbefore: 'BOF'
        append_newline: true
        block: |
          dtoverlay=disable-wifi
          dtoverlay=disable-bt
      register: _result

    - name: Reboot host
      ansible.builtin.reboot:
      when: _result.changed

    - name: Check wireless radio status
      ansible.builtin.command: rfkill -J
      register: _result
      changed_when: false

    - name: Parse rfkill JSON
      ansible.builtin.set_fact:
        devices: "{{ (_result.stdout | from_json).rfkilldevices | list }}"

    - name: Verify no wireless devices are enabled
      ansible.builtin.assert:
        that: devices | length == 0
        msg: "rfkill reported {{ devices | length }} potential wireless devices"

    # this task is retried because sometimes it takes a moment after rebooting for the clock to synchronize
    - name: Confirm the system clock is synchronized
      ansible.builtin.command: timedatectl show -P NTPSynchronized
      register: _result
      changed_when: false
      until: '_result.stdout == "yes"'
      retries: 3
      delay: 5
